<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL movies</title>
</head>
<style>
    body {
        background-color: #9df9ef;
    }
    p {
    font-size: 20px;
    }
    </style>
<body>
    <h1 style="color:#494D5F"><a href="/">Home</a></h1>
    <% if (films.length) { %>
        <% films.forEach(({ genre, name, description })=>{ %>
            <h1 style="color:#494D5F">Name: <%= name %>, Genre: <%= genre %></h1>
            <p style="color:#494D5F">Description: <%= description %></p>
        <% }) %>
    <% } %>
</body>
</html>