<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    body {
        background-color: #9df9ef;
    }
    </style>
<body>
    <h1 style="color:#494D5F"><a href="/films">ALL movies</a></h1>
    <h1 style="color:#494D5F"><a href="/genre">ALL genres</a></h1>
</body>
</html>